<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yahoo Seven Technical Test</title>
</head>
<body>
<b>********* WARNING : This fle is 13.7MB. It may take a long while to load. Also, your browser may not be able to show all of it ************</b>
<br><br>
Total combinations : <%-noOfComb%> <br><br>
<%-content%>
</body>
</html>

